<div class="row">
    <!-- Material statustic card start -->
    <div class="col-md-12">
        <div class="card mat-stat-card">
            <div class="card-block py-3 text-right">
                <a data-IGroupCreate="true" class="btn py-2 aqua-gradient btn-sm text-center waves-effect waves-light">
                    <i class="fas fa-plus text-x8 text-white m-0"></i>
                    <span class="text-Medium text-x6 text-white mr-2">
                        افزودن گروه 4 رقمی جدید
                    </span>
                </a>
                <div class="row purple darken-3 z-depth-1 mx-1 mb-2 d-flex justify-content-center" style="border-radius:3px">
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="text-center text-Bold text-x7 text-white py-1">
                            عنوان
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="text-center text-Bold text-x7 text-white py-1">
                            نام
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-6">
                        <div class="text-center text-Bold text-x7 text-white py-1">
                            کد
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-6">
                        <div class="text-center text-Bold text-x7 text-white py-1">
                            رنگ
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-6">
                        <div class="text-center text-Bold text-x7 text-white py-1">
                            کنترل ها
                        </div>
                    </div>
                </div>
                <div id="data-container"></div>
                <div class="w-100 px-3 d-flex justify-content-center" id="InsertUnit"></div>
            </div>
        </div>
    </div>
</div>
