<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-right">
                <h5 class="text-x12">در حال بروز رسانی</h5>
            </div>
            <div class="card-block">
                <div class="row py-5">

                    <div class="col-lg-7 col-md-7 col-12 text-right py-5 pr-5">
                        <p class="text-Bold text-x10 text-right">
                            کاربران گرامی
                        </p>
                        <p class="text-Medium text-x7 text-justify">
                            این قسمت در حال حاضر به دلیل بروز رسانی و یا تکمیل در دسترس نمی باشد . از صبر و شکیبایی شما متشکریم
                        </p>
                        <hr />
                        <a asp-controller="AdminPanel" asp-action="Main" class="btn waves-effect waves-light btn-info text-white py-2 px-5">
                            بازگشت به خانه
                            <i class="fas fa-sign-in-alt text-x11"></i>
                        </a>
                    </div>
                    <div class="col-lg-5 col-md-5 col-12 text-center">
                        <img class="img-fluid" src="./images/UnderConstruction.png" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
